# Newflow API Keys
GEMINI_API_KEY=
OPENAI_API_KEY=

# Pinecone Configuration
PINECONE_API_KEY=
PINECONE_INDEX=
PINECONE_HOST=

# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# ElevenLabs
ELEVENLABS_API_KEY=

